<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <h2 class="title is-2">New Tweet</h2>
        <%= render 'form', tweet: @tweet %>
      </div>
    </div>
  </div>
</div>

<!--<%= link_to 'Show', @tweet %>